n8n/workflow-planner-openai.json
{
  "name": "Crimea Planner — OpenAI + HTML Email (Free + Premium)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crimea-planner",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false,
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-1",
      "name": "Webhook (form submit)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "crimea-planner-webhook",
      "notes": "POST {tier, city, days, composition, transport, budget, topic, notes, email, comfort?, allergies?, arrivalDate?, departureDate?, arrivalPoint?}\nallowedOrigins=* нужен потому что фронт на welcomecrimea.ru, а n8n на другом домене."
    },
    {
      "parameters": {
        "jsCode": "// Валидация + нормализация формы. Поддерживает оба тарифа: free и premium.\nconst input = $input.first().json;\nconst body = input.body || input;\n\nconst {\n  tier = 'free',\n  city = 'krym',\n  days = 7,\n  composition = 'couple',\n  transport = 'car',\n  budget = 5000,\n  topic = 'obzor',\n  notes = '',\n  email = '',\n  // premium-only поля (для free игнорируются)\n  comfort = '',\n  allergies = '',\n  arrivalDate = '',\n  departureDate = '',\n  arrivalPoint = ''\n} = body;\n\nif (!email || !String(email).includes('@')) {\n  throw new Error('Невалидный email: ' + email);\n}\n\nconst tierNorm = tier === 'premium' ? 'premium' : 'free';\nconst nDays = Math.max(1, Math.min(21, Number(days) || 7));\n\nconst cityNames = {\n  krym: 'Весь Крым',\n  yalta: 'Ялта и Южный берег Крыма',\n  sevastopol: 'Севастополь',\n  bahchisaray: 'Бахчисарай',\n  feodosiya: 'Феодосия и Коктебель',\n  evpatoriya: 'Евпатория и западный Крым'\n};\nconst compNames = {\n  couple: 'пара',\n  'family-kids': 'семья с детьми',\n  friends: 'друзья',\n  solo: 'один',\n  parents: 'с родителями'\n};\nconst transportNames = {\n  car: 'на автомобиле',\n  public: 'общественный транспорт (троллейбус №52, маршрутки, автобусы)',\n  taxi: 'такси и трансферы',\n  mixed: 'комбинированно (поезд/самолёт + такси)'\n};\nconst topicNames = {\n  obzor: 'обзорный — главные места',\n  'more-plyazh': 'море и пляжи',\n  gory: 'горы и треккинг',\n  istoriya: 'история и архитектура',\n  gastro: 'гастро и виноделие',\n  's-detmi': 'с детьми',\n  aktiv: 'активный отдых'\n};\nconst comfortNames = {\n  '': '',\n  hostel: 'хостел или гестхаус (бюджетно)',\n  econom: 'эконом 3*',\n  comfort: 'комфорт 4*',\n  premium: 'премиум 5*+ или бутик'\n};\nconst arrivalPointNames = {\n  '': '',\n  simferopol: 'аэропорт Симферополь',\n  anapa: 'аэропорт Анапа (~3-4 ч до Крыма через мост)',\n  krasnodar: 'аэропорт Краснодар (~5 ч до Крыма)',\n  'own-car': 'на собственном автомобиле через Крымский мост',\n  train: 'поезд (станция Симферополь / Севастополь / Феодосия)'\n};\n\nconst budgetNum = Number(budget);\nconst budgetText = budgetNum >= 999999\n  ? 'без ограничений'\n  : `до ${budgetNum.toLocaleString('ru-RU')} ₽ на чел/день`;\n\nreturn [{\n  json: {\n    tier: tierNorm,\n    city,\n    days: nDays,\n    composition,\n    transport,\n    budget: budgetNum,\n    topic,\n    notes: String(notes).slice(0, 500),\n    email,\n    cityName: cityNames[city] || cityNames.krym,\n    compName: compNames[composition] || compNames.couple,\n    transportName: transportNames[transport] || transportNames.car,\n    topicName: topicNames[topic] || topicNames.obzor,\n    budgetText,\n    // premium-only — заполняются только если tier=premium\n    comfort: tierNorm === 'premium' ? String(comfort) : '',\n    comfortName: tierNorm === 'premium' ? (comfortNames[comfort] || '') : '',\n    allergies: tierNorm === 'premium' ? String(allergies).slice(0, 300) : '',\n    arrivalDate: tierNorm === 'premium' ? String(arrivalDate) : '',\n    departureDate: tierNorm === 'premium' ? String(departureDate) : '',\n    arrivalPoint: tierNorm === 'premium' ? String(arrivalPoint) : '',\n    arrivalPointName: tierNorm === 'premium' ? (arrivalPointNames[arrivalPoint] || '') : ''\n  }\n}];"
      },
      "id": "validate-1",
      "name": "Validate & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Tier-aware промпт для OpenAI. Для free — компактный; для premium — расширенный\n// с адресами, ресторанами, чек-листом и планом Б.\nconst m = $input.first().json;\n\nconst baseHeader = `Составь маршрут по Крыму на ${m.days} дней.\\n\\n**Параметры**:\\n- Регион: ${m.cityName}\\n- Длительность: ${m.days} дней\\n- Состав: ${m.compName}\\n- Транспорт: ${m.transportName}\\n- Бюджет: ${m.budgetText}\\n- Главный интерес: ${m.topicName}\\n- Особые пожелания: ${m.notes || 'нет'}`;\n\nlet userPrompt;\nlet systemPrompt;\nlet maxTokens;\n\nif (m.tier === 'premium') {\n  const premiumExtras = [\n    m.comfortName ? `- Уровень проживания: ${m.comfortName}` : null,\n    m.arrivalPointName ? `- Прибытие через: ${m.arrivalPointName}` : null,\n    m.arrivalDate ? `- Дата прибытия: ${m.arrivalDate}` : null,\n    m.departureDate ? `- Дата отъезда: ${m.departureDate}` : null,\n    m.allergies ? `- Аллергии и ограничения: ${m.allergies}` : null\n  ].filter(Boolean).join('\\n');\n\n  const itemsPerDay = m.composition === 'family-kids' ? '5-6' : '6-8';\n\n  userPrompt = `${baseHeader}\\n${premiumExtras ? '\\n**Дополнительно (премиум)**:\\n' + premiumExtras + '\\n' : ''}\\n**Премиум-требования**:\\n1. Каждый день — ${itemsPerDay} точек с тайм-слотами (09:00, 11:30, 13:30, 16:00, 18:30, 20:30…).\\n2. У каждой точки указывай реальный адрес (улица, дом, город) и время в пути от предыдущей точки.\\n3. Минимум 2 ресторана/кафе в день — реальные, с адресами, кухней и ориентировочным средним чеком.\\n4. ${m.allergies ? 'Учитывай ограничения по питанию (см. выше).' : 'Делай упор на местную кухню (чебуреки, янтыки, татарский суп, шашлыки, плов, янтарное вино).'}\\n5. На каждый день — план Б на дождь / закрытие объекта (1-2 альтернативы).\\n6. ${m.arrivalPointName ? 'Учитывай точку прибытия (см. выше) и время в пути до Крыма.' : 'Финальный day = возврат в Симферополь.'}\\n7. Все объекты должны реально существовать в Крыму. Если не уверен — опускаешь.\\n\\nВерни СТРОГО JSON по премиум-схеме (без markdown-обёртки, без комментариев).`;\n\n  systemPrompt = `Ты — редактор премиум-путеводителя по Крыму с 10+ летним опытом и личным знанием региона. Составляешь подробные маршруты с конкретными местами, тайм-слотами, реальными адресами, временем в пути, гастрономическими подсказками. НИКОГДА не выдумываешь объекты, цены и расписания — если не уверен, опускаешь деталь. Стиль: лаконичный, на русском, с акцентом на гастрономию и логистику.\\n\\nВСЕГДА отвечаешь СТРОГО валидным JSON-объектом по премиум-схеме:\\n{\\n  \\\"title\\\": \\\"короткий заголовок маршрута\\\",\\n  \\\"summary\\\": \\\"общее описание (3-4 предложения)\\\",\\n  \\\"total_km\\\": число (приблизительный пробег, 0 если без авто),\\n  \\\"days\\\": [\\n    {\\n      \\\"day\\\": 1,\\n      \\\"title\\\": \\\"Заголовок дня (откуда → куда)\\\",\\n      \\\"items\\\": [\\n        {\\\"time\\\": \\\"09:00\\\", \\\"place\\\": \\\"Название\\\", \\\"address\\\": \\\"Улица, д., город\\\", \\\"travel\\\": \\\"5 мин пешком от …\\\", \\\"note\\\": \\\"что делать / что попробовать\\\"}\\n      ],\\n      \\\"restaurants\\\": [\\n        {\\\"name\\\": \\\"Название\\\", \\\"address\\\": \\\"адрес\\\", \\\"cuisine\\\": \\\"крымско-татарская/европейская/etc\\\", \\\"price_avg\\\": \\\"≈800₽/чел\\\", \\\"why\\\": \\\"за что любим\\\"}\\n      ],\\n      \\\"rainy_alternative\\\": \\\"1-2 альтернативы на случай дождя\\\"\\n    }\\n  ],\\n  \\\"tips\\\": [\\\"совет 1\\\", \\\"совет 2\\\", \\\"совет 3\\\"],\\n  \\\"checklist\\\": [\\\"что взять в дорогу 1\\\", \\\"пункт 2\\\", \\\"пункт 3\\\"],\\n  \\\"budget_estimate\\\": \\\"строка с прикидкой бюджета на всю поездку\\\"\\n}`;\n\n  maxTokens = 4000;\n} else {\n  const itemsPerDay = m.composition === 'family-kids' ? '3-4' : '4-6';\n\n  userPrompt = `${baseHeader}\\n\\n**Требования**:\\n1. Каждый день — это ${itemsPerDay} точек с тайм-слотами (09:00, 12:00, и т.д.)\\n2. Учитывай переезды и пробки в сезон (особенно ЮБК)\\n3. Включи минимум 2 совета по гастрономии (где обедать, какие блюда местные)\\n4. Если транспорт = общественный — используй троллейбус №52 Симферополь—Ялта, маршрутки\\n5. Все объекты должны реально существовать в Крыму. Если не уверен — пропусти.\\n6. Финальный day обычно — возврат в Симферополь (откуда вылет/выезд)\\n\\nВерни СТРОГО JSON по схеме (без markdown-обёртки, без комментариев).`;\n\n  systemPrompt = `Ты — редактор путеводителя по Крыму с многолетним опытом. Составляешь практичные маршруты с конкретными местами, тайм-слотами, реальными адресами. НИКОГДА не выдумываешь объекты, цены и расписания — если не уверен, опускаешь деталь. Стиль: лаконичный, на русском, с гастрономическими и логистическими подсказками. ВСЕГДА отвечаешь СТРОГО валидным JSON-объектом по схеме:\\n{\\n  \\\"title\\\": \\\"короткий заголовок маршрута\\\",\\n  \\\"summary\\\": \\\"параграф с общим описанием маршрута (2-3 предложения)\\\",\\n  \\\"total_km\\\": число (приблизительный пробег, 0 если без авто),\\n  \\\"days\\\": [\\n    {\\\"day\\\": 1, \\\"title\\\": \\\"Заголовок дня (откуда → куда)\\\", \\\"items\\\": [\\\"09:00 — действие/место с пояснением\\\", \\\"12:00 — ...\\\"]}\\n  ],\\n  \\\"tips\\\": [\\\"совет 1\\\", \\\"совет 2\\\"],\\n  \\\"budget_estimate\\\": \\\"строка с прикидкой бюджета на всю поездку\\\"\\n}`;\n\n  maxTokens = 2500;\n}\n\nreturn [{ json: { ...m, userPrompt, systemPrompt, maxTokens } }];"
      },
      "id": "build-prompt-1",
      "name": "Build Tier-aware Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"response_format\": {\"type\": \"json_object\"},\n  \"temperature\": 0.6,\n  \"max_tokens\": {{ $json.maxTokens || 2500 }},\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.systemPrompt) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.userPrompt) }} }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "openai-1",
      "name": "OpenAI: Generate Itinerary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CRED_ID",
          "name": "OpenAI account"
        }
      },
      "notes": "Использует predefinedCredentialType: openAiApi.\nЗаведи credentials типа 'OpenAI' в n8n с твоим API key."
    },
    {
      "parameters": {
        "jsCode": "// Парсим ответ OpenAI и рендерим красивый HTML email.\n// Tier-aware: для premium показываем рестораны, план Б, чек-лист и адреса.\nconst openaiRaw = $input.first().json;\nconst content = openaiRaw.choices?.[0]?.message?.content || '{}';\n\nlet plan;\ntry {\n  plan = JSON.parse(content);\n} catch (e) {\n  const m = content.match(/\\{[\\s\\S]+\\}/);\n  plan = m ? JSON.parse(m[0]) : { title: 'Ошибка', summary: 'Не удалось распарсить ответ AI', days: [], tips: [], budget_estimate: '' };\n}\n\nconst meta = $('Validate & Normalize').first().json;\nconst isPremium = meta.tier === 'premium';\n\nconst esc = (s) => String(s ?? '').replace(/[&<>\"']/g, (c) => ({ '&':'&amp;','<':'&lt;','>':'&gt;','\"':'&quot;',\"'\":'&#39;' }[c]));\n\n// Item рендер. Поддерживает строковый формат (free) и объектный (premium).\nfunction renderItem(item) {\n  if (typeof item === 'string') {\n    return `<li style=\"padding: 6px 0 6px 18px; position: relative;\"><span style=\"position:absolute; left:0; color:#7A1F2B;\">·</span>${esc(item)}</li>`;\n  }\n  const time = esc(item.time || '');\n  const place = esc(item.place || '');\n  const meta2 = [item.address, item.travel].filter(Boolean).map(esc).join(' · ');\n  const metaLine = meta2 ? `<div style=\\\"font-size:13px; color:#6b6b6b; margin-top:2px;\\\">${meta2}</div>` : '';\n  const note = item.note ? `<div style=\\\"font-size:14px; color:#2a2a2a; margin-top:4px;\\\">${esc(item.note)}</div>` : '';\n  return `<li style=\"padding: 10px 0 10px 18px; position: relative; border-top: 1px dashed #e6e2d8;\">\n    <span style=\"position:absolute; left:0; color:#7A1F2B;\">·</span>\n    <strong style=\"font-family: Georgia, serif;\">${time ? time + ' — ' : ''}${place}</strong>${metaLine}${note}\n  </li>`;\n}\n\nconst dayBlocks = (plan.days || []).map((d) => {\n  const items = (d.items || []).map(renderItem).join('');\n  const restaurants = isPremium && Array.isArray(d.restaurants) && d.restaurants.length\n    ? `<div style=\"margin: 12px 0 0; padding: 12px 14px; background:#FAF6EE; border-left:3px solid #7A1F2B;\">\n        <span style=\"display:block; font-family: Georgia, serif; font-size:12px; letter-spacing:0.16em; text-transform:uppercase; color:#7A1F2B; font-weight:600;\">Рестораны и кафе</span>\n        <ul style=\"margin:8px 0 0; padding-left: 18px; color:#2a2a2a; font-size:14px; line-height:1.55;\">\n          ${d.restaurants.map(r => {\n            const meta3 = [r.address, r.cuisine, r.price_avg].filter(Boolean).map(esc).join(' · ');\n            const why = r.why ? `<br/><span style=\\\\\\\"color:#6b6b6b;\\\\\\\">${esc(r.why)}</span>` : '';\n            return `<li><strong>${esc(r.name)}</strong>${meta3 ? ' — ' + meta3 : ''}${why}</li>`;\n          }).join('')}\n        </ul>\n      </div>`\n    : '';\n  const rainy = isPremium && d.rainy_alternative\n    ? `<div style=\"margin: 12px 0 0; padding: 10px 14px; background: #f3f1eb; border-radius: 4px; font-size: 13px; color: #4a4a4a;\"><strong>План Б на дождь:</strong> ${esc(d.rainy_alternative)}</div>`\n    : '';\n  return `\n  <tr><td style=\"padding: 24px 0 8px; border-top: 1px solid #e6e2d8;\">\n    <span style=\"display:inline-block; font-family: Georgia, serif; font-size: 14px; color: #7A1F2B; letter-spacing: 0.1em; font-weight: 600;\">ДЕНЬ ${esc(d.day)}</span>\n    <h3 style=\"margin: 4px 0 16px; font-family: Georgia, serif; font-size: 22px; font-style: italic; font-weight: 400; color: #0E1B3A; line-height: 1.25;\">${esc(d.title)}</h3>\n    <ul style=\"margin: 0; padding: 0 0 0 4px; list-style: none; color: #2a2a2a; font-size: 15px; line-height: 1.6;\">${items}</ul>\n    ${restaurants}\n    ${rainy}\n  </td></tr>`;\n}).join('');\n\nconst tipsBlock = (plan.tips || []).length\n  ? `<tr><td style=\"padding: 24px 0; border-top: 1px solid #e6e2d8;\">\n      <span style=\"display:inline-block; font-family: Georgia, serif; font-size: 12px; color: #7A1F2B; letter-spacing: 0.16em; text-transform:uppercase; font-weight:600;\">Советы</span>\n      <ul style=\"margin: 12px 0 0 0; padding-left: 20px; color: #2a2a2a; font-size: 15px; line-height: 1.6;\">\n        ${plan.tips.map(t => `<li>${esc(t)}</li>`).join('')}\n      </ul>\n    </td></tr>`\n  : '';\n\nconst checklistBlock = isPremium && Array.isArray(plan.checklist) && plan.checklist.length\n  ? `<tr><td style=\"padding: 24px 0; border-top: 1px solid #e6e2d8;\">\n      <span style=\"display:inline-block; font-family: Georgia, serif; font-size: 12px; color: #7A1F2B; letter-spacing: 0.16em; text-transform:uppercase; font-weight:600;\">Чек-лист в дорогу</span>\n      <ul style=\"margin: 12px 0 0 0; padding-left: 20px; color: #2a2a2a; font-size: 15px; line-height: 1.6;\">\n        ${plan.checklist.map(c => `<li>${esc(c)}</li>`).join('')}\n      </ul>\n    </td></tr>`\n  : '';\n\nconst budgetBlock = plan.budget_estimate\n  ? `<tr><td style=\"padding: 16px 0; border-top: 1px solid #e6e2d8; font-size: 14px; color: #4a4a4a;\"><strong>Бюджет:</strong> ${esc(plan.budget_estimate)}</td></tr>`\n  : '';\n\nconst tierBadge = isPremium\n  ? `<div style=\"display:inline-block; padding:5px 12px; background:#7A1F2B; color:#FAF6EE; font-family: Inter, Helvetica, Arial, sans-serif; font-size:11px; letter-spacing:0.18em; text-transform:uppercase; border-radius:2px; margin-bottom:16px;\">Премиум · бесплатно в бета-периоде</div>`\n  : '';\n\nconst subject = (isPremium ? '✦ Премиум-маршрут: ' : 'Ваш маршрут: ') + (plan.title || 'Крым');\n\nconst html = `<!DOCTYPE html><html lang=\"ru\"><head><meta charset=\"UTF-8\"><title>${esc(plan.title)}</title></head>\n<body style=\"margin:0; padding:0; background:#FAF6EE; font-family: Helvetica, Arial, sans-serif; color: #1A1A1A;\">\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#FAF6EE; padding: 32px 16px;\">\n  <tr><td align=\"center\">\n    <table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#FFFFFF; max-width: 600px; padding: 40px 32px;\">\n      <tr><td>\n        ${tierBadge}\n        <h1 style=\"font-family: Georgia, serif; font-size: 30px; font-weight: 500; line-height: 1.2; margin: 0 0 16px; color: #0E1B3A;\">${esc(plan.title || 'Маршрут по Крыму')}</h1>\n        <p style=\"font-family: Georgia, serif; font-style: italic; font-size: 18px; line-height: 1.55; color: #4a4a4a; margin: 0 0 8px;\">${esc(plan.summary || '')}</p>\n        ${plan.total_km ? `<p style=\\\"font-size: 14px; color: #6b6b6b; margin: 0 0 24px;\\\">Примерный пробег: <strong>${esc(plan.total_km)} км</strong></p>` : ''}\n      </td></tr>\n      ${dayBlocks}\n      ${tipsBlock}\n      ${checklistBlock}\n      ${budgetBlock}\n      <tr><td style=\"padding: 32px 0 0; font-size: 12px; color: #6b6b6b; line-height: 1.5; text-align: center; border-top: 1px solid #e6e2d8; margin-top: 32px;\">\n        Маршрут составлен AI на основе ваших ответов. Перепроверяйте часы работы и наличие мест перед поездкой.<br/>\n        <a href=\"https://welcomecrimea.ru/\" style=\"color: #7A1F2B;\">welcomecrimea.ru</a>\n      </td></tr>\n    </table>\n  </td></tr>\n</table></body></html>`;\n\nreturn [{ json: { html, subject, plan, tier: meta.tier } }];"
      },
      "id": "render-html-1",
      "name": "Render HTML email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "fromEmail": "no-reply@your-domain.example",
        "toEmail": "={{ $('Validate & Normalize').first().json.email }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send-email-1",
      "name": "Send Email (SMTP)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1340, 300],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CRED_ID",
          "name": "SMTP account"
        }
      },
      "notes": "SMTP credentials: для Gmail используй App Password (не основной пароль).\nhost: smtp.gmail.com, port: 465, ssl: true.\nfromEmail должен совпадать с залогиненным SMTP-аккаунтом."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, tier: $('Validate & Normalize').first().json.tier, message: ($('Validate & Normalize').first().json.tier === 'premium' ? 'Премиум-маршрут отправлен на ' : 'План отправлен на ') + $('Validate & Normalize').first().json.email + '. Проверьте папку «Спам».', title: $('Render HTML email').first().json.plan.title }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-1",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook (form submit)": {
      "main": [
        [
          {
            "node": "Validate & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Normalize": {
      "main": [
        [
          {
            "node": "Build Tier-aware Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Tier-aware Prompt": {
      "main": [
        [
          {
            "node": "OpenAI: Generate Itinerary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Generate Itinerary": {
      "main": [
        [
          {
            "node": "Render HTML email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML email": {
      "main": [
        [
          {
            "node": "Send Email (SMTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (SMTP)": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "crimea"
    }
  ]
}
