n8n/workflow-planner-openai.json
{
  "name": "Crimea Planner — OpenAI + HTML Email (Free + Premium)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crimea-planner",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false,
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-1",
      "name": "Webhook (form submit)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "crimea-planner-webhook",
      "notes": "POST {tier, city, days, composition, transport, budget, topic, notes, email, comfort?, allergies?, arrivalDate?, departureDate?, arrivalPoint?}\nallowedOrigins=* нужен потому что фронт на welcomecrimea.ru, а n8n на другом домене."
    },
    {
      "parameters": {
        "jsCode": "// Валидация + нормализация формы. Поддерживает оба тарифа: free и premium.\nconst input = $input.first().json;\nconst body = input.body || input;\n\nconst {\n  tier = 'free',\n  city = 'krym',\n  days = 7,\n  composition = 'couple',\n  transport = 'car',\n  budget = 5000,\n  topic = 'obzor',\n  notes = '',\n  email = '',\n  // premium-only поля (для free игнорируются)\n  comfort = '',\n  allergies = '',\n  arrivalDate = '',\n  departureDate = '',\n  arrivalPoint = ''\n} = body;\n\nif (!email || !String(email).includes('@')) {\n  throw new Error('Невалидный email: ' + email);\n}\n\nconst tierNorm = tier === 'premium' ? 'premium' : 'free';\nconst nDays = Math.max(1, Math.min(21, Number(days) || 7));\n\nconst cityNames = {\n  krym: 'Весь Крым',\n  yalta: 'Ялта и Южный берег Крыма',\n  sevastopol: 'Севастополь',\n  bahchisaray: 'Бахчисарай',\n  feodosiya: 'Феодосия и Коктебель',\n  evpatoriya: 'Евпатория и западный Крым'\n};\nconst compNames = {\n  couple: 'пара',\n  'family-kids': 'семья с детьми',\n  friends: 'друзья',\n  solo: 'один',\n  parents: 'с родителями'\n};\nconst transportNames = {\n  car: 'на автомобиле',\n  public: 'общественный транспорт (троллейбус №52, маршрутки, автобусы)',\n  taxi: 'такси и трансферы',\n  mixed: 'комбинированно (поезд/самолёт + такси)'\n};\nconst topicNames = {\n  obzor: 'обзорный — главные места',\n  'more-plyazh': 'море и пляжи',\n  gory: 'горы и треккинг',\n  istoriya: 'история и архитектура',\n  gastro: 'гастро и виноделие',\n  's-detmi': 'с детьми',\n  aktiv: 'активный отдых'\n};\nconst comfortNames = {\n  hostel: 'хостел / гестхаус',\n  econom: 'эконом 3*',\n  comfort: 'комфорт 4*',\n  premium: 'премиум 5*+ / бутик'\n};\nconst arrivalPointNames = {\n  simferopol: 'аэропорт Симферополь',\n  anapa: 'аэропорт Анапа',\n  krasnodar: 'аэропорт Краснодар',\n  'own-car': 'на машине через Крымский мост',\n  train: 'поезд (Симферополь / Севастополь)'\n};\nconst budgetNum = Number(budget) || 5000;\nlet budgetText;\nif (budgetNum < 1500) budgetText = 'бюджетный (до 1 500 ₽ на чел/день)';\nelse if (budgetNum < 3000) budgetText = 'эконом (1 500–3 000 ₽ на чел/день)';\nelse if (budgetNum < 5000) budgetText = 'средний (3 000–5 000 ₽ на чел/день)';\nelse if (budgetNum < 10000) budgetText = 'комфорт (5 000–10 000 ₽ на чел/день)';\nelse budgetText = 'премиум (от 10 000 ₽ на чел/день)';\n\nreturn [{\n  json: {\n    tier: tierNorm,\n    city: String(city),\n    cityName: cityNames[city] || cityNames.krym,\n    days: nDays,\n    composition: String(composition),\n    compName: compNames[composition] || 'пара',\n    transport: String(transport),\n    transportName: transportNames[transport] || transportNames.car,\n    budget: budgetNum,\n    budgetText,\n    topic: String(topic),\n    topicName: topicNames[topic] || topicNames.obzor,\n    notes: String(notes).slice(0, 500),\n    email: String(email).trim().toLowerCase(),\n    // premium-only\n    comfort: tierNorm === 'premium' ? String(comfort) : '',\n    comfortName: tierNorm === 'premium' ? (comfortNames[comfort] || '') : '',\n    allergies: tierNorm === 'premium' ? String(allergies).slice(0, 300) : '',\n    arrivalDate: tierNorm === 'premium' ? String(arrivalDate) : '',\n    departureDate: tierNorm === 'premium' ? String(departureDate) : '',\n    arrivalPoint: tierNorm === 'premium' ? String(arrivalPoint) : '',\n    arrivalPointName: tierNorm === 'premium' ? (arrivalPointNames[arrivalPoint] || '') : ''\n  }\n}];"
      },
      "id": "validate-1",
      "name": "Validate & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://welcomecrimea.ru/data/attractions.json",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-catalog-1",
      "name": "Fetch Attractions Catalog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "notes": "Тянет каталог проверенных мест Крыма (95 точек) из публичного URL.\nЕсли AI должен использовать ТОЛЬКО реальные места — каталог обязателен.\nЕсли URL недоступен — нода фейлит и весь воркфлоу останавливается; в этом случае проверь что site опубликован и /data/attractions.json возвращает 200."
    },
    {
      "parameters": {
        "jsCode": "// Tier-aware промпт для OpenAI. Использует каталог проверенных мест.\n// Для free — компактный; для premium — расширенный с адресами, ресторанами, чек-листом и планом Б.\nconst m = $('Validate & Normalize').first().json;\nconst catalog = $('Fetch Attractions Catalog').first().json;\n\n// Каталог может прийти как массив или как объект с ключом data — нормализуем\nconst catalogArr = Array.isArray(catalog) ? catalog : (Array.isArray(catalog.data) ? catalog.data : []);\n\n// Фильтр по региону: пользователь выбирает город — берём места только из соответствующего региона.\nconst cityToRegions = {\n  krym: null, // весь Крым — все регионы\n  yalta: ['Южный берег'],\n  sevastopol: ['Севастополь', 'Южный берег'], // Севастополь + рядом\n  bahchisaray: ['Центральный Крым', 'Севастополь'],\n  feodosiya: ['Восточный Крым'],\n  evpatoriya: ['Западный Крым']\n};\nconst allowedRegions = cityToRegions[m.city];\nlet filtered = allowedRegions ? catalogArr.filter(p => allowedRegions.includes(p.region)) : catalogArr;\n\n// Если фильтр оставил <10 мест — добавим премиум-узлы из соседних регионов\nif (filtered.length < 10 && allowedRegions) {\n  const obyazatelno = catalogArr.filter(p => p.tags && p.tags.includes('обязательно') && !filtered.includes(p));\n  filtered = filtered.concat(obyazatelno.slice(0, 8));\n}\n\n// Если выбран фокус — поднимаем релевантные теги\nconst topicTags = {\n  'more-plyazh': ['море', 'пляж'],\n  'gory': ['трекинг', 'горы', 'природа'],\n  'istoriya': ['история', 'архитектура', 'археология'],\n  'gastro': ['вино', 'винодельня'],\n  's-detmi': ['с детьми'],\n  'aktiv': ['активные', 'трекинг', 'адреналин']\n};\nconst preferredTags = topicTags[m.topic] || [];\n\n// Сортируем: сначала с релевантными тегами, потом обязательно, потом остальные\nfiltered.sort((a, b) => {\n  const aTags = a.tags || [];\n  const bTags = b.tags || [];\n  const aPref = preferredTags.some(t => aTags.includes(t)) ? 1 : 0;\n  const bPref = preferredTags.some(t => bTags.includes(t)) ? 1 : 0;\n  if (aPref !== bPref) return bPref - aPref;\n  const aMust = aTags.includes('обязательно') ? 1 : 0;\n  const bMust = bTags.includes('обязательно') ? 1 : 0;\n  return bMust - aMust;\n});\n\n// Форматируем компактный каталог для промпта\nconst catalogText = filtered.map((p, i) => {\n  const parts = [`${i+1}. ${p.name} — ${p.city}`];\n  if (p.address) parts.push(`адрес: ${p.address}`);\n  if (p.hours && p.hours.length < 80) parts.push(`часы: ${p.hours}`);\n  else if (p.hours) parts.push(`часы: ${p.hours.split(',')[0]}`);\n  if (p.price_avg) parts.push(`цена: ${p.price_avg}`);\n  if (p.duration_min) parts.push(`длит: ${p.duration_min} мин`);\n  const flagBits = [];\n  if (p.rainy_ok) flagBits.push('в дождь ОК');\n  if (p.kid_friendly) flagBits.push('с детьми ОК');\n  if (flagBits.length) parts.push(flagBits.join(', '));\n  const tagStr = (p.tags || []).filter(t => t !== 'обязательно' && t !== 'бесплатно').slice(0, 4).join(', ');\n  if (tagStr) parts.push(`теги: ${tagStr}`);\n  return parts.join(' | ') + (p.description ? `\\n   ${p.description}` : '');\n}).join('\\n');\n\nconst baseHeader = `Составь маршрут по Крыму на ${m.days} дней.\\n\\n**Параметры**:\\n- Регион: ${m.cityName}\\n- Длительность: ${m.days} дней\\n- Состав: ${m.compName}\\n- Транспорт: ${m.transportName}\\n- Бюджет: ${m.budgetText}\\n- Главный интерес: ${m.topicName}\\n- Особые пожелания: ${m.notes || 'нет'}`;\n\nconst catalogInstruction = `\\n\\n**Каталог проверенных мест (${filtered.length} точек) — используй ТОЛЬКО их**:\\n${catalogText}\\n\\n**ВАЖНО**: НЕ ВЫДУМЫВАЙ новых мест, ресторанов или адресов. Все точки маршрута должны быть из каталога выше. Если в каталоге нет нужной категории — выбирай ближайшую по смыслу. Адреса бери ТОЧНО из каталога.`;\n\nlet userPrompt;\nlet systemPrompt;\nlet maxTokens;\n\nif (m.tier === 'premium') {\n  const premiumExtras = [\n    m.comfortName ? `- Уровень проживания: ${m.comfortName}` : null,\n    m.arrivalPointName ? `- Прибытие через: ${m.arrivalPointName}` : null,\n    m.arrivalDate ? `- Дата прибытия: ${m.arrivalDate}` : null,\n    m.departureDate ? `- Дата отъезда: ${m.departureDate}` : null,\n    m.allergies ? `- Аллергии и ограничения: ${m.allergies}` : null\n  ].filter(Boolean).join('\\n');\n\n  const itemsPerDay = m.composition === 'family-kids' ? '5-6' : '6-8';\n\n  userPrompt = `${baseHeader}\\n${premiumExtras ? '\\n**Дополнительно (премиум)**:\\n' + premiumExtras + '\\n' : ''}${catalogInstruction}\\n\\n**Премиум-требования**:\\n1. Каждый день — ${itemsPerDay} точек с тайм-слотами (09:00, 11:30, 13:30, 16:00, 18:30, 20:30…).\\n2. У каждой точки указывай адрес ТОЧНО из каталога и время в пути от предыдущей точки.\\n3. Минимум 2 ресторана/кафе в день — БЕРИ ИЗ КАТАЛОГА если они там есть (тип winery/entertainment); если нет — пропусти ресторан, не выдумывай.\\n4. Учитывай погодные альтернативы: если у точки rainy_ok=false и день может быть дождливым, предлагай запасной вариант.\\n5. Чек-лист «что взять в дорогу» (5–8 пунктов).\\n6. Один день — главный (топ-впечатление); один день — расслабленный.\\n7. Если получится — кольцевой маршрут (не возвращаться в одну точку дважды).\\n\\nВерни строго JSON по схеме:\\n{\\n  \\\"title\\\": \\\"Краткое название маршрута\\\",\\n  \\\"summary\\\": \\\"1-2 предложения\\\",\\n  \\\"days\\\": [\\n    {\\n      \\\"day\\\": 1,\\n      \\\"title\\\": \\\"Город/тема дня\\\",\\n      \\\"city\\\": \\\"Основной город\\\",\\n      \\\"items\\\": [\\n        { \\\"time\\\": \\\"09:00\\\", \\\"place\\\": \\\"Название из каталога\\\", \\\"address\\\": \\\"адрес из каталога\\\", \\\"travel\\\": \\\"15 мин на машине\\\", \\\"note\\\": \\\"что посмотреть\\\" }\\n      ],\\n      \\\"restaurants\\\": [\\n        { \\\"name\\\": \\\"Название\\\", \\\"cuisine\\\": \\\"крымско-татарская\\\", \\\"price\\\": \\\"средний чек 1500₽\\\", \\\"why\\\": \\\"чебуреки и плов\\\" }\\n      ],\\n      \\\"rainy_alternative\\\": \\\"что делать если дождь — БЕРИ только rainy_ok места\\\"\\n    }\\n  ],\\n  \\\"checklist\\\": [\\\"кроссовки для троп\\\", \\\"крем SPF 50\\\", \\\"...\\\"],\\n  \\\"tips\\\": [\\\"совет 1\\\", \\\"совет 2\\\"],\\n  \\\"budget_estimate\\\": \\\"общая оценка бюджета\\\"\\n}`;\n\n  systemPrompt = `Ты — опытный гид по Крыму с глубоким знанием Южного берега, Севастополя, горного Крыма. Составляешь детальные маршруты с обязательным указанием реальных адресов, времени в пути и проверенных ресторанов. КРИТИЧЕСКИ ВАЖНО: используй ТОЛЬКО места из приложенного каталога. НЕ ВЫДУМЫВАЙ адреса, координаты, рестораны или достопримечательности — берёшь их из каталога. Если в каталоге не хватает мест для дня — лучше предложи поменьше точек, чем выдумай. Отвечай ТОЛЬКО валидным JSON без markdown-обёртки.`;\n\n  maxTokens = 4000;\n} else {\n  // FREE — компактный план\n  const itemsPerDay = m.composition === 'family-kids' ? '4-5' : '4-6';\n\n  userPrompt = `${baseHeader}${catalogInstruction}\\n\\n**Требования**:\\n1. Каждый день — ${itemsPerDay} точек с временем (09:00, 11:30, 15:00, 18:00).\\n2. Названия точек ТОЧНО из каталога.\\n3. 3-5 общих советов (когда ехать, что взять, что попробовать из еды).\\n4. Оцени общий бюджет на ${m.compName} (${m.days} дней).\\n\\nВерни строго JSON по схеме:\\n{\\n  \\\"title\\\": \\\"Краткое название маршрута\\\",\\n  \\\"summary\\\": \\\"1-2 предложения\\\",\\n  \\\"days\\\": [\\n    {\\n      \\\"day\\\": 1,\\n      \\\"title\\\": \\\"Город/тема дня\\\",\\n      \\\"city\\\": \\\"Основной город\\\",\\n      \\\"items\\\": [\\\"09:00 — Точка (название из каталога)\\\", \\\"...\\\"]\\n    }\\n  ],\\n  \\\"tips\\\": [\\\"совет 1\\\", \\\"совет 2\\\"],\\n  \\\"budget_estimate\\\": \\\"общая оценка бюджета\\\"\\n}`;\n\n  systemPrompt = `Ты — опытный гид по Крыму. Составляешь короткий, чёткий маршрут. КРИТИЧЕСКИ ВАЖНО: используй ТОЛЬКО места из приложенного каталога. НЕ ВЫДУМЫВАЙ названия, адреса, рестораны. Если в каталоге не хватает мест — лучше меньше точек, чем выдумка. Отвечай ТОЛЬКО валидным JSON без markdown-обёртки.`;\n\n  maxTokens = 2800;\n}\n\nreturn [{\n  json: {\n    ...m,\n    systemPrompt,\n    userPrompt,\n    maxTokens,\n    catalogSize: filtered.length\n  }\n}];"
      },
      "id": "build-prompt-1",
      "name": "Build Tier-aware Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"response_format\": {\"type\": \"json_object\"},\n  \"temperature\": 0.6,\n  \"max_tokens\": {{ $json.maxTokens || 2500 }},\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.systemPrompt) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.userPrompt) }} }\n  ]\n}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "openai-1",
      "name": "OpenAI: Generate Itinerary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 300],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CRED_ID",
          "name": "OpenAI account"
        }
      },
      "notes": "Использует predefinedCredentialType: openAiApi.\nЗаведи credentials типа 'OpenAI' в n8n с твоим API key.\nTimeout 90 сек: каталог из 95 мест + premium-запрос может занять до 30-40 сек."
    },
    {
      "parameters": {
        "jsCode": "// Парсим ответ OpenAI и рендерим красивый HTML email.\n// Tier-aware: для premium показываем рестораны, план Б, чек-лист и адреса.\nconst openaiRaw = $input.first().json;\nconst content = openaiRaw.choices?.[0]?.message?.content || '{}';\n\nlet plan;\ntry {\n  plan = JSON.parse(content);\n} catch (e) {\n  const m = content.match(/\\{[\\s\\S]+\\}/);\n  plan = m ? JSON.parse(m[0]) : { title: 'Ошибка', summary: 'Не удалось распарсить ответ AI', days: [], tips: [], budget_estimate: '' };\n}\n\nconst meta = $('Validate & Normalize').first().json;\nconst isPremium = meta.tier === 'premium';\n\nconst esc = (s) => String(s ?? '').replace(/[&<>\"']/g, (c) => ({ '&':'&amp;','<':'&lt;','>':'&gt;','\"':'&quot;',\"'\":'&#39;' }[c]));\n\n// Item рендер. Поддерживает строковый формат (free) и объектный (premium).\nfunction renderItem(item) {\n  if (typeof item === 'string') {\n    return `<li style=\"padding: 6px 0 6px 18px; position: relative;\"><span style=\"position:absolute; left:0; color:#7A1F2B;\">·</span>${esc(item)}</li>`;\n  }\n  const time = esc(item.time || '');\n  const place = esc(item.place || '');\n  const meta2 = [item.address, item.travel].filter(Boolean).map(esc).join(' · ');\n  const metaLine = meta2 ? `<div style=\\\"font-size:13px; color:#6b6b6b; margin-top:2px;\\\">${meta2}</div>` : '';\n  const note = item.note ? `<div style=\\\"font-size:14px; color:#2a2a2a; margin-top:4px;\\\">${esc(item.note)}</div>` : '';\n  return `<li style=\"padding: 10px 0 10px 18px; position: relative; border-top: 1px dashed #e6e2d8;\">\n    <span style=\"position:absolute; left:0; color:#7A1F2B;\">·</span>\n    <strong style=\"font-family: Georgia, serif;\">${time ? time + ' — ' : ''}${place}</strong>${metaLine}${note}\n  </li>`;\n}\n\nconst dayBlocks = (plan.days || []).map((d) => {\n  const items = (d.items || []).map(renderItem).join('\\n');\n  let extras = '';\n  if (isPremium) {\n    if (d.restaurants && d.restaurants.length) {\n      const restList = d.restaurants.map(r => `<li style=\\\"padding:6px 0;\\\"><strong>${esc(r.name)}</strong>${r.cuisine ? ' — ' + esc(r.cuisine) : ''}${r.price ? ' · ' + esc(r.price) : ''}${r.why ? '<div style=\\\"font-size:13px; color:#6b6b6b; margin-top:2px;\\\">' + esc(r.why) + '</div>' : ''}</li>`).join('\\n');\n      extras += `<div style=\\\"margin: 18px 0 8px;\\\"><div style=\\\"font-family: Inter, sans-serif; font-size: 11px; letter-spacing: 0.15em; text-transform: uppercase; color: #7A1F2B; margin-bottom: 8px;\\\">Рестораны и кафе</div><ul style=\\\"list-style:none; padding:0; margin:0;\\\">${restList}</ul></div>`;\n    }\n    if (d.rainy_alternative) {\n      extras += `<div style=\\\"margin: 16px 0; padding: 12px; background: #fbf6ed; border-left: 3px solid #7A1F2B;\\\"><div style=\\\"font-family: Inter, sans-serif; font-size: 11px; letter-spacing: 0.15em; text-transform: uppercase; color: #7A1F2B; margin-bottom: 6px;\\\">План Б на дождь</div><div style=\\\"font-size:14px; color:#2a2a2a;\\\">${esc(d.rainy_alternative)}</div></div>`;\n    }\n  }\n  return `<div style=\\\"margin: 28px 0; padding: 22px; background: #fff; border: 1px solid #e6e2d8;\\\">\n    <div style=\\\"display:flex; align-items:baseline; gap:14px; margin-bottom:10px;\\\">\n      <span style=\\\"font-family: Georgia, serif; font-size: 28px; color: #7A1F2B; font-style: italic;\\\">${d.day || '?'}</span>\n      <h3 style=\\\"margin:0; font-family: Georgia, serif; font-size: 20px; color: #1A2845;\\\">${esc(d.title || d.city || 'День')}</h3>\n    </div>\n    <ul style=\\\"list-style:none; padding:0; margin:0;\\\">${items}</ul>\n    ${extras}\n  </div>`;\n}).join('\\n');\n\nconst tipsBlock = (plan.tips && plan.tips.length) ? `<div style=\\\"margin: 24px 0; padding: 18px; background: #fbf6ed;\\\"><div style=\\\"font-family: Inter, sans-serif; font-size: 11px; letter-spacing: 0.15em; text-transform: uppercase; color: #7A1F2B; margin-bottom: 10px;\\\">Советы</div><ul style=\\\"margin:0; padding-left: 20px;\\\">${plan.tips.map(t => `<li style=\\\"padding:4px 0;\\\">${esc(t)}</li>`).join('')}</ul></div>` : '';\n\nconst checklistBlock = (isPremium && plan.checklist && plan.checklist.length) ? `<div style=\\\"margin: 24px 0; padding: 18px; background: #f6f3ed; border-left: 3px solid #1A2845;\\\"><div style=\\\"font-family: Inter, sans-serif; font-size: 11px; letter-spacing: 0.15em; text-transform: uppercase; color: #1A2845; margin-bottom: 10px;\\\">Чек-лист в дорогу</div><ul style=\\\"margin:0; padding-left: 20px;\\\">${plan.checklist.map(t => `<li style=\\\"padding:4px 0;\\\">${esc(t)}</li>`).join('')}</ul></div>` : '';\n\nconst budgetBlock = plan.budget_estimate ? `<p style=\\\"margin: 16px 0; font-style: italic; color: #6b6b6b;\\\">Бюджет: ${esc(plan.budget_estimate)}</p>` : '';\n\nconst tierBadge = isPremium ? `<div style=\\\"display:inline-block; font-family: Inter, sans-serif; font-size: 10px; letter-spacing: 0.18em; text-transform: uppercase; color: #fff; background: #7A1F2B; padding: 4px 10px; margin-bottom: 8px;\\\">Премиум · бесплатно в бета-периоде</div>` : '';\n\nconst html = `<!DOCTYPE html>\n<html><head><meta charset=\\\"utf-8\\\"></head>\n<body style=\\\"margin:0; padding: 0; background: #faf8f3; font-family: -apple-system, Inter, sans-serif; color: #1a1a1a; line-height: 1.5;\\\">\n  <div style=\\\"max-width: 640px; margin: 0 auto; padding: 32px 24px;\\\">\n    ${tierBadge}\n    <h1 style=\\\"font-family: Georgia, serif; font-size: 36px; font-style: italic; color: #1A2845; margin: 0 0 10px;\\\">${esc(plan.title || 'Ваш маршрут по Крыму')}</h1>\n    <p style=\\\"font-size: 16px; color: #444; margin: 0 0 6px;\\\">${esc(plan.summary || '')}</p>\n    ${budgetBlock}\n    ${dayBlocks}\n    ${tipsBlock}\n    ${checklistBlock}\n    <hr style=\\\"border:none; border-top:1px solid #ddd; margin: 32px 0 18px;\\\">\n    <p style=\\\"font-size: 13px; color: #888;\\\">План сгенерирован специально для вас — <a href=\\\"https://welcomecrimea.ru/\\\" style=\\\"color:#7A1F2B;\\\">welcomecrimea.ru</a></p>\n  </div>\n</body></html>`;\n\nconst subject = isPremium ? `Премиум-маршрут по Крыму на ${meta.days} дней` : `Ваш маршрут по Крыму на ${meta.days} дней`;\n\nreturn [{ json: { html, subject, plan } }];"
      },
      "id": "render-html-1",
      "name": "Render HTML email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 300]
    },
    {
      "parameters": {
        "fromEmail": "no-reply@your-domain.example",
        "toEmail": "={{ $('Validate & Normalize').first().json.email }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send-email-1",
      "name": "Send Email (SMTP)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1500, 300],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CRED_ID",
          "name": "SMTP account"
        }
      },
      "notes": "SMTP credentials: для Gmail используй App Password (не основной пароль).\nhost: smtp.gmail.com, port: 465, ssl: true.\nfromEmail должен совпадать с залогиненным SMTP-аккаунтом."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, tier: $('Validate & Normalize').first().json.tier, message: ($('Validate & Normalize').first().json.tier === 'premium' ? 'Премиум-маршрут отправлен на ' : 'План отправлен на ') + $('Validate & Normalize').first().json.email + '. Проверьте папку «Спам».', title: $('Render HTML email').first().json.plan.title }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-1",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1720, 300]
    }
  ],
  "connections": {
    "Webhook (form submit)": {
      "main": [
        [
          {
            "node": "Validate & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Normalize": {
      "main": [
        [
          {
            "node": "Fetch Attractions Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Attractions Catalog": {
      "main": [
        [
          {
            "node": "Build Tier-aware Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Tier-aware Prompt": {
      "main": [
        [
          {
            "node": "OpenAI: Generate Itinerary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Generate Itinerary": {
      "main": [
        [
          {
            "node": "Render HTML email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML email": {
      "main": [
        [
          {
            "node": "Send Email (SMTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (SMTP)": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "crimea"
    }
  ]
}
